/* *{
    /* margin: 0;
    padding: 0; */
    /* box-sizing: border-box;
}  */


header{
    box-sizing: border-box;

    position: fixed;
    background-color: white;
    width: 1350px; 
    height:90px;
    text-align: justify;
    display: flex;
    /* align-items: left;  */
    justify-content: flex-start;
    padding-left: 60px;
    font-size: 20px;
    margin-top: -10px;
    unicode-bidi: isolate;
    

}


nav{
    width: 100%;
    text-align: center;
    display: block;
    unicode-bidi: isolate;


}

nav ul{
    list-style: none;
    padding: 0px;
    margin-right: 70% auto;
    margin-top: 20PX;
    

}

nav ul li {
    display: inline;
    margin-right: 30px;
    /* display: flex; */
    /* justify-content: flex-start; */
    /* padding-right: 10px; */

}

nav ul li a {
    text-decoration:none;
    color:black;
    font-size: 12px;
    padding-right: 10px;
    /* justify-content:space-between; */
    padding: 0, 0, 0,20px ;
    /* text-align: right; */
    /* align-items: left; */
    /* display: flex; */
}

nav ul li a:hover {
    text-decoration: underline;
}
.getbtn{
    /* text-decoration: none; */
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */ 
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 70px;
    border-radius: 3px;
    border-color: white;
    background-color: white;
    border-color: black;
    /* border-style:inset; */
}
.container1{
    /* box-sizing: border-box; */
    font-family: system-ui;
    font-size: 20px;
    /* margin-right: 20px;  */
    margin-left:100px;
    /* width: 100%; */
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50%;
    left:60px;
    padding: auto;
}

.seepro{
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
    border-radius: 3px;
    color:white;
    /* border-color: rgb(8, 4, 54); */
    background-color: #5f627117;
    border-color: white;

}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-size: 40px;
    line-height: 5px;
    /* margin-left: 40px; */
    margin-right: 30px;
    letter-spacing: 10px;
    word-spacing: 35px;
    font-weight: 200px;
}
.text-small{
    font-size:15px;
    line-height: 1.5px;
    letter-spacing: 0.5px;


}
body{
    left:150px;
    right: auto;
    width:1000px; 
    height:20px;
    
    padding-top: 2%;
    background-image: url("lappic 1.jpg");

  
}

#search-input{
    position: fixed;
    width:350px;
    left: 5px;
    padding:1px;
    /* border: rgb(233, 17, 17); */
    border-radius: 4px;
    font-size: 12px;
    justify-content: center;
    align-items: left;
    margin-right: 600px;
    margin-left: 520px; 
    padding-block: 1px;
    padding-inline: 2px;
    border-color: white;
    
   
   
} 
.navBar {
    position:fixed; 
    margin-right: 30px;
    top:2px;
    left:7px;
    width:1351px;
    height:23px;
    background-color: #f7f5f5;
    display: flex; 
    justify-content: space-between;  
    align-items: center; 
    /* border-radius: 1px; */
    /* padding: 10px;  */
    /* border-width: 200px; */
   
} 
.inputIcon
{
  position:fixed;
  padding-left: 40px;
  padding-right: 0px; 
  /* position: relative;  */
  /* margin-right: 400px;  */
  margin-left: 450px;  
  display: flex;
  align-items: center;
  /* justify-content: center;  */

}  